{% extends 'base.html' %}

{% block link %}
    <link rel="stylesheet" type="text/css"
          href="/navbar_links/static/css/payments_reviews.css">
{% endblock %}

{% block title %}Newgen Airlines - Payments page{% endblock %}


{% block content %}
<div class="container payments">
    <div class="row payments-body-ctr" id="main-row">
        <div class="col payments-body-ctr" id="first-col">
            <h2>Flight Payment History</h2>
        </div>
    </div>
    <div class="row payments-body-ctr" id="first-row">
        <div class="col-md-6 payments-body-ctr" id="second-col">
            <h3>One Way Payments</h3>
            <img src="/navbar_links/static/images/flight_trip/one_way_image.jpg"
                 alt="One way sign image" id="oneway-img">
            <p>Search for your one-way trip payments</p>
            <a href="{{url_for('payments.oneway_trip_payments')}}"
               class="btn btn-primary">Search</a>
        </div>
        <div class="col-md-6 payments-body-ctr" id="third-col">
            <h3>Round Trip Payments</h3>
            <img src="/navbar_links/static/images/flight_trip/round_trip_image.jpeg"
                 alt="Round trip image" id="round-trip-img">
            <p>Search for your round trip payments</p>
            <a href="{{url_for('payments.round_trip_payments')}}"
               class="btn btn-primary">
                <span id="search-payments">Search</span></a>
        </div>
    </div>
</div>
{% endblock %}

