{% extends 'base.html' %}

{% block title %}Newgen Airlines - Airport rules{% endblock %}


{% block content %}
<div class="container airport">
    <div class="row airport-body-ctr" id="first-row">
        <div class="col airport-body-ctr" id="first-col">
            <h2>At the airport</h2>
            <h3>Important information for your travel</h3>
        </div>
    </div>
    <div class="row airport-body-ctr" id="second-row">
        <div class="col-md-4 airport-body-ctr" id="second-col">
            <h4>Airport information</h4>
            <img src="/travel_options/static/images/other_images/DFW_airport_gate.jpeg"
                 alt="DFW Airport gate image" id="dfw-gate-img">
            <p>Airport information</p>
            <p>Flight status</p>
            <p>Boarding process</p>
            <p>Traveling with children</p>
        </div>
        <div class="col-md-4 airport-body-ctr" id="third-col">
            <h4>Bags</h4>
            <img src="/travel_options/static/images/other_images/airplane_bags.jpg"
                 alt="Airplane bags image" id="airplane-bags-img">
            <p>Checked bag policy</p>
            <p>Bags</p>
        </div>
        <div class="col-md-4 airport-body-ctr" id="fourth-col">
            <h4>Security</h4>
            <img src="/travel_options/static/images/other_images/airport_security.jpeg"
                 alt="Airport security image" id="airport-security-img">
            <p>PreCheck by TSA</p>
            <p>Security checkpoints</p>
        </div>
    </div>
    <div class="row airport-body-ctr" id="third-row">
        <div class="col-md-4 airport-body-ctr" id="fifth-col">
            <h4>Check-in</h4>
            <img src="/travel_options/static/images/other_images/airport_check_in.jpeg"
                 alt="Airport check-in image" id="airport-check-in-img">
            <p>Arrival and Check-in</p>
            <p>Check-in</p>
        </div>
        <div class="col-md-4 airport-body-ctr" id="sixth-col">
            <h4>Info on the Go</h4>
            <img src="/travel_options/static/images/other_images/smartphone_in_airport.jpg"
                 alt="Smartphone in airport image" id="smartphone_in_airport_img">
            <p>Mobile boarding pass</p>
            <p>Mobile and apps</p>
            <p>Flight notifications</p>
        </div>
        <div class="col-md-4 airport-body-ctr" id="seventh-col">
            <h4>Airport lounges</h4>
            <img src="/travel_options/static/images/other_images/airport_lounge.jpg"
                 alt="Airport lounge image" id="aiport_lounge_img">
            <p>Five-Star Service</p>
            <p>Lounges</p>
        </div>
    </div>
</div>
{% endblock %}
