{% extends 'base.html' %}

{% block title %}Newgen Airlines - Special Assistance{% endblock %}


{% block content %}
<div class="container">
    <div class="col special-assist-body-ctr" id="first-col">
        <h3>Request special assistance online</h3>
        <p>When you book or manage your trip online, choose 'Add special assistance'
            on the passenger details page. There you can: </p>
        <div class="row special-assist-ul">
            <ul style="list-style-type:square;">
                <li>State if you’re traveling with a service animal. Keep in mind,
                    notice and approval is required at least 36 hours before your
                    flight.</li>
                <li>State if you're traveling with your own mobility device</li>
                <li>Request wheelchair service</li>
                <li>Request assistance for yourself if you have a vision, hearing,
                    developmental, or cognitive disability</li>
            </ul>
        </div>
        <p>Book a trip</p>
        <p>Find your trip</p>
        <p>Service animals</p>
    </div>
    <div class="col special-assist-body-ctr" id="second-col">
        <h4>Send your request online</h4>
        <a>Submit a special assistance request</a>
    </div>
    <div class="col special-assist-body-ctr" id="last-col">
        <h3>Call Newgen Assistance</h3>
        <p>Call us for help to arrange for special assitance</p>
        <a>Contact Newgen Assistance</a>
    </div>
</div>
{% endblock %}
