{% extends 'base.html' %}

{% block link %}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/trip_reviews_and_payments.css')}}">
{% endblock %}

{% block title %}Newgen Airlines - One Way Trip Reviews{% endblock %}


{% block content %}
<div class="container has-forgot-password-background {% if reviews %}has-reviews{% endif %}">
    {% if reviews %}
        <h2>{{ user.name }}</h2>
        {% for review in reviews %}
            <div class="card border-primary">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">User:
                      <span id="flight_departure_airport">{{ user.name }}</span></li>
                  <li class="list-group-item">Payment date:
                      <span id="flight_arrival_airport">{{ review[0] }}</span></li>
                  <li class="list-group-item">Rating:
                      <span id="flight_airline_name">{{ review[1] }}</span></li>
                  <li class="list-group-item">Review:
                      <span id="flight_departure_timestamp">{{ review[2] }}</span></li>
                  <li class="list-group-item">Review date:
                      <span id="flight_duration">{{ review[3] }}</span></li>
                </ul>
              </div>
              <div class="card-footer">
                <a href="/oneway_trip_reviews/{{ review.id }}/delete" class="btn btn-primary float-end"
                   id="delete_button">Delete Review</a>
                <a href="/oneway_trip_reviews/{{ review.id }}/edit" class="btn btn-primary float-end"
                   id="edit_button">Edit Review</a>
              </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>No One-Way Trip Reviews Yet!</h1>
        <p>It looks like there aren't any reviews for one-way trips at this time. Be the
            first to share your experience!</p>
        <p>If you've recently completed a one-way trip, consider leaving a review to help others
            make informed decisions.</p>
    {% endif %}
</div>
{% endblock %}

