{% extends 'base.html' %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup_form.css')}}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/oneway_trip.css')}}">
{% endblock %}

{% block title %}Newgen Airlines - Payment details{% endblock %}


{% block content %}
<div class="flight-card">
    <div class="card mb-3">
        <div class="card-body">
            <div class="row">
                <div class="col-12">
                    <h5 class="card-title">One Way Trip Info</h5>
                    <ul class="list-group list-group-flush" id="flightDetails">
                        {% for info in oneway_depart_info_dict %}
                        <li class="list-group-item">
                            <span class=“oneway_label”>{{ info }}:</span>
                            <span class="oneway_label_info">{{ oneway_depart_info_dict.info }}</span>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="payment-message">Enter payment details</h2>
      <form method="POST" id="new_payment_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-primary btn-block btn-lg">Submit</button>
      </form>
    </div>
</div>
{% endblock %}

