{% extends 'base.html' %}

{% block link %}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='css/trip_reviews_and_payments.css')}}">
{% endblock %}

{% block title %}Newgen Airlines - One Way Trip Payments{% endblock %}


{% block content %}
<div class="container has-alert-background {% if payments %}has-payments{% endif %}">
    {% if payments %}
        <h2>{{ user.name }}</h2>
        {% for payment in payments %}
            <div class="card border-primary">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Departure Airport:
                      <span id="flight_departure_airport">{{ payment.flight_departure_airport }}</span></li>
                  <li class="list-group-item">Arrival Airport:
                      <span id="flight_arrival_airport">{{ payment.flight_arrival_airport }}</span></li>
                  <li class="list-group-item">Airline:
                      <span id="flight_airline_name">{{ payment.flight_airline_name }}</span></li>
                  <li class="list-group-item">Departure Time:
                      <span id="flight_departure_timestamp">{{ payment.flight_departure_timestamp }}</span></li>
                  <li class="list-group-item">Flight Duration:
                      <span id="flight_duration">{{ payment.flight_duration }}</span></li>
                  <li class="list-group-item">Booking Time:
                      <span id="timestamp">{{ payment.timestamp }}</span></li>
                  <li class="list-group-item">Adults:
                      <span id="num_adults">{{ payment.num_adults }}</span></li>
                  <li class="list-group-item">Children:
                      <span id="num_children">{{ payment.num_children }}</span></li>
                  <li class="list-group-item">Infants:
                      <span id="num_infants">{{ payment.num_infants }}</span></li>
                  <li class="list-group-item">Cabin Class:
                      <span id="cabin_class">{{ payment.cabin_class }}</span></li>
                  <li class="list-group-item">Total Paid:
                      <span id="total_amount_paid">{{ payment.total_amount_paid }}</span></li>
                  <li class="list-group-item">Payment Method:
                      <span id="payment_method">{{ payment.payment_method }}</span></li>
                </ul>
              </div>
              <div class="card-footer">
                <a href="/oneway_trip_reviews/add/{{ payment.id }}" class="btn btn-primary float-end"
                   id="review_button">Add Review</a>
              </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>No One-Way Trip Payments Found!</h1>
        <p>We couldn't locate any round trip payments in our database. This might be
            because there aren't any recent round trip bookings, or there could be a temporary issue.</p>
        <p>Try searching again later or contact us if you believe there should
            be data available.</p>
    {% endif %}
</div>
{% endblock %}


