
nav.navbar.navbar-expand-lg.navbar-light.bg-light{
    margin-left: -25.97em;
    margin-right: -25.45em;
}

.container.footer, .footer-outer-container {
    margin-left: -13.34em;
    margin-right: -40em;
    margin-top:1em;
    background: gray;
}

.row.login-signup-body-ctr img, .row.payments-body-ctr img,
.row.reviews-body-ctr img{
    width: 74%;
    height:52%;
    margin-top:0.4em;
    margin-bottom:1em;
    border-radius:4px;
}

@media screen and (max-width:1199px) {

    .navbar-brand {
        margin-left: 20.24em;
        margin-right: -1.83em;
    }

}

@media screen and (max-width: 991px) {

    .navbar-toggler {
        margin-right:17.2em;
    }

    #first-nav, #second-nav, #third-nav, .nav-item.dropdown, #login-button{
        margin-left:25.29em;
    }

}

@media screen and (max-width: 767px) {

    .navbar-toggler {
        margin-right:19.5em;
    }

}
