{% extends 'base.html' %}

{% block title %}Newgen Airlines - Bags{% endblock %}


{% block content %}
<div class="container">
    <div class="col bags-body-ctr" id="first-col">
        <h3>Save time, pay using NNewgen app</h3>
        <p>Don’t wait in line at the airport – get the best price available
            and check up to 3 bags when you check-in on nn.com or in the app.
            For more information about paying for your bags online, visit our
            customer service FAQs.</p>
        <a>Customer service FAQs</a>
    </div>
    <div class="col bags-body-ctr" id="second-col">
        <h3>Bypass the baggage claim</h3>
        <p>Whether you're traveling for business or pleasure on your next trip,
            let us bring your bags to you.</p>
        <a>Customer service FAQs</a>
    </div>
    <div class="col bags-body-ctr" id="last-col">
        <h3>We can help you find lost items</h3>
        <p>If you’ve lost an item on a plane or in an Newgen-operated area,
            at the airport or at a security checkpoint, visit our lost and
            found page and we’ll point you in the right direction.</p>
        <a>Customer service FAQs</a>
    </div>
</div>
{% endblock %}

