{% extends 'base.html' %}

{% block title %}Newgen Airlines - Business programs{% endblock %}


{% block content %}
<div class="container">
    <div class="col business-programs-body-ctr" id="first-col">
        <h2>Business travel services</h2>
        <img src="/footer_links/static/images/footer_images/plane_flying_over_miami_image.jpeg"
             alt="Plane over Miami image" id="plane-over-miami-img" class="img-fluid">
        <h3>Support for companies of all sizes</h3>
        <p class="business-programs-body-ctr p">We're here to make traveling
            for work easier – whether you employ 5 or 1000 people. From upfront
            discounts to special programs, see what our services and programs can
            do for you.</p>
    </div>
    <div class="col business-programs-body-ctr" id="second-col">
        <h3>The NNewgen Business™ program</h3>
        <p class="business-programs-body-ctr p">The new NNewgen Business™ program
            rewards eligible companies and their travelers for booking business
            travel on nn.com and the Newgen app. Whether you manage travel for
            your company or travel for work, our new special business program
            helps you earn more no matter where you run your business.</p>
        <p class="business-programs-body-ctr a">Explore the new program</p>
        <h4>Zety® / NNewgen Business™ Special Deluxe Mastercard®</h4>
        <p class="business-programs-body-ctr p">Limited-time: Earn 100,000 bonus
            miles for your business. Plus, each cardmember earns Elite Points toward
            NNewgen® status. Terms and conditions apply.</p>
        <p class="business-programs-body-ctr a">Learn more</p>
    </div>
</div>
{% endblock %}