{% extends 'base.html' %}

{% block title %}Newgen Airlines - faq{% endblock %}


{% block content %}
<div class="container">
    <div class="col faq-body-ctr" id="first-col">
        <h2>FAQs</h2>
        <h3>Read our frequently asked questions</h3>
        <div class="row faq-body-ctr" id="first-row">
            <div class="col-md-4" id="second-col">
                <h4 class="faq-body-ctr h4">NNewgen® program</h4>
                <div class="row faq-body-ul">
                    <ul style="list-style-type:square;">
                        <li>Award travel</li>
                        <li>Miles</li>
                        <li>Upgrades</li>
                    </ul>
                </div>
                <p class="faq-body-ctr a">NNewgen® FAQs</p>
            </div>
            <div class="col-md-4" id="third-col">
                <h4 class="faq-body-ctr h4">Customer service</h4>
                <div class="row faq-body-ul">
                    <ul style="list-style-type:square;">
                        <li>Baggage</li>
                        <li>Lost and found</li>
                        <li>Refunds and receipts</li>
                    </ul>
                </div>
                <p class="faq-body-ctr a">Customer service FAQs</p>
            </div>
            <div class="col-md-4" id="fourth-col">
                <h4 class="faq-body-ctr h4">Programs & products</h4>
                <div class="faq-body-div">
                    <p>Flight discounts</p>
                    <p class="faq-body-ctr a">Programs & products FAQs</p>
                </div>
            </div>
        </div>
        <div class="row faq-body-ctr" id="second-row">
            <div class="col-md-4" id="fifth-col">
                <h4 class="faq-body-ctr h4">Travel information</h4>
                <div class="row faq-body-ul">
                    <ul style="list-style-type:square;">
                        <li>Check-in and arrival</li>
                        <li>Flight status</li>
                        <li>FlightNotice and other notifications</li>
                    </ul>
                </div>
                <p class="faq-body-ctr a">Travel information FAQs</p>
            </div>
            <div class="col-md-4" id="sixth-col">
                <h4 class="faq-body-ctr h4">Tickets & Reservations</h4>
                <div class="row faq-body-ul">
                    <ul style="list-style-type:square;">
                        <li>Payment and fares</li>
                        <li>Seats</li>
                        <li>Trip insurance</li>
                    </ul>
                </div>
                <p class="faq-body-ctr a">Tickets and reservations FAQs</p>
            </div>
            <div class="col-md-4" id="seventh-col">
                <h4 class="faq-body-ctr h4">Website, mobile & app</h4>
                <div class="row faq-body-ul">
                    <ul style="list-style-type:square;">
                        <li>Log in</li>
                        <li>Mobile boarding pass</li>
                        <li>Privacy</li>
                    </ul>
                </div>
                <p class="faq-body-ctr a">Website, mobile & app FAQs</p>
            </div>
        </div>
    </div>
    <div class="col faq-body-ctr" id="eighth-col">
        <h3>Need extra help? Contact us.</h3>
        <div class="faq-body-div">
            <p class="faq-body-ctr a">Contact nn.com technical support</p>
            <p class="faq-body-ctr a">Contact Newgen</p>
        </div>
    </div>
</div>
{% endblock %}


