{% extends 'base.html' %}

{% block title %}Newgen Airlines - Receipts/Refunds{% endblock %}


{% block content %}
<div class="container">
    <div class="col receipts-refunds-body-ctr" id="first-col">
        <h2>Receipts and refunds</h2>
        <h3>Receipts</h3>
        <h4>Tickets and fees</h4>
        <div class="receipts-refunds-div" id="rrdiv-1">
            <p class="receipts-refunds-body-ctr p">Request a receipt for tickets,
                fees and seats. Receipts are available starting 24 hours after
                your purchase or change for up to 24 months.</p>
            <p class="receipts-refunds-body-ctr a">Receipts for fees and tickets</p>
        </div>
        <h4>Purchases inside flight</h4>
        <div class="receipts-refunds-div">
            <p class="receipts-refunds-body-ctr p">Request a receipt for inflight
                purchases like food, drinks and Wi-Fi. Receipts are available starting
                24 hours after your flight for up to 12 months.</p>
            <p class="receipts-refunds-body-ctr a">Receipts for food and drink purchases inside flight</p>
            <p class="receipts-refunds-body-ctr a">Receipts for Wi-Fi and other purchases inside flight</p>
        </div>
    </div>
    <div class="col receipts-refunds-body-ctr" id="second-col">
        <h3>Refunds</h3>
        <div class="receipts-refunds-div">
            <p class="receipts-refunds-body-ctr p">If you bought your ticket from a
                travel agent or on another website, contact them for refund help.</p>
            <p class="receipts-refunds-body-ctr p">If you bought your ticket or related
                travel products and services through Newgen Airlines, you can check your
                refund status or request a refund.</p>
            <p class="receipts-refunds-body-ctr a">Request a refund</p>
            <p class="receipts-refunds-body-ctr a">Check the refund status</p>
        </div>
    </div>
    <div class="col receipts-refunds-body-ctr" id="third-col">
        <h3>Need more help?</h3>
        <p class="receipts-refunds-body-ctr a">Customer service FAQs</p>
    </div>
</div>
{% endblock %}

