{% extends 'base.html' %}

{% block title %}Newgen Airlines - Terms/Conditions{% endblock %}


{% block content %}
<div class="container">
    <div class="col receipts-refunds-body-ctr" id="first-col">
        <h2>Terms and conditions</h2>
        <img src="static/images/other_images/plane_landing_image.jpeg" alt="Plane landing image"
             id="plane-landing-img" class="img-fluid">
        <h3>nn.com support and policies</h3>
        <p class="receipts-refunds-body-ctr p">We have plans in place to protect you
            and your experience with us. To learn more, read through our charges,
            policies and conditions.</p>
        <div class="row receipts-refunds-body-ctr" id="first-row">
            <div class="col-md-4" id="second-col">
                <h4>nn.com legal information</h4>
                <div class="receipts-refunds-div">
                    <p class="receipts-refunds-body-ctr p">Policies about site usage.</p>
                    <p class="receipts-refunds-body-ctr a">Legal documentation</p>
                </div>
            </div>
            <div class="col-md-4" id="third-col">
                <h4>Copyright</h4>
                <div class="receipts-refunds-div">
                    <p class="receipts-refunds-body-ctr p">Trademarks, rights, and
                        servicemarks on nn.com.</p>
                    <p class="receipts-refunds-body-ctr a">Copyright</p>
                </div>
            </div>
            <div class="col-md-4" id="fourth-col">
                <h4>Privacy policy</h4>
                <div class="receipts-refunds-div">
                    <p class="receipts-refunds-body-ctr p">Keeping your private
                        information safe.</p>
                    <p class="receipts-refunds-body-ctr a">Privacy policy</p>
                </div>
            </div>
        </div>
        <div class="row receipts-refunds-body-ctr" id="second-row">
            <div class="col-md-4" id="fifth-col">
                <h4>Web accessibility</h4>
                <div class="receipts-refunds-div">
                    <p class="receipts-refunds-body-ctr p">Diversity and inclusion for everyone on board.</p>
                    <p class="receipts-refunds-body-ctr a">Web accessibility policy</p>
                </div>
            </div>
            <div class="col-md-4" id="sixth-col">
                <h4>Communication security</h4>
                <div class="receipts-refunds-div">
                    <p class="receipts-refunds-body-ctr p">Protect yourself from fraudulent interactions.</p>
                    <p class="receipts-refunds-body-ctr a">Email and communication security</p>
                </div>
            </div>
            <div class="col-md-4" id="seventh-col">
                <h4>Browser compatibility</h4>
                <div class="receipts-refunds-div">
                    <p class="receipts-refunds-body-ctr p">How to view our NNewgen® site on your browser.</p>
                    <p class="receipts-refunds-body-ctr a">Email and communication security</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col receipts-refunds-body-ctr" id="eighth-col">
        <h3>Flying on one of our partners?</h3>
        <div class="receipts-refunds-div">
            <p class="receipts-refunds-body-ctr p">Traveling on one of our partner airlines?</p>
            <p class="receipts-refunds-body-ctr a">Finnair legal information</p>
            <p class="receipts-refunds-body-ctr a">Japan Airways legal information</p>
        </div>
    </div>
</div>
{% endblock %}