{% extends 'base.html' %}

{% block title %}Newgen Airlines - Trip Insurance{% endblock %}


{% block content %}
<div class="container">
    <div class="col trip-insurance-body-ctr" id="first-col">
        <h2>Atlantis Trip Insurance</h2>
        <img src="static/images/other_images/scuba_diving_image.jpeg" alt="Scuba diving image"
             id="scuba-diving-img" class="img-fluid">
        <div class="tabbed-container">
          <ul class="nav nav-tabs" id="myTripTab" role="tablist" data-mouse="hover">
              <li class="nav-item" role="presentation">
                  <button class="nav-link" id="plan-tab" data-toggle="tab"
                          data-target="#" type="button" aria-controls="plan-tab-pane"
                          aria-selected="false">Find a plan
                  </button>
              </li>
              <li class="nav-item" role="presentation">
                  <button class="nav-link" id="policy-tab" data-toggle="tab"
                          data-target="#" type="button" aria-controls="policy-tab-pane"
                          aria-selected="false">Manage policy
                  </button>
              </li>
              <li class="nav-item" role="presentation">
                  <button class="nav-link" id="claim-tab"
                          data-toggle="tab" data-target="#" type="button"
                          aria-controls="claim-tab-pane"
                          aria-selected="false">Find a claim
                  </button>
              </li>
              <li class="nav-item" role="presentation">
                  <button class="nav-link" id="status-tab" data-toggle="tab"
                          data-target="#" type="button"
                          aria-controls="status-tab-pane"
                          aria-selected="false">Claim status
                  </button>
              </li>
          </ul>
        </div>
        <h3>Protect your travel experience</h3>
        <div class="travel-experience-div">
            <p class="trip-insurance-body-ctr p">Read about Atlantis Trip Insurance’s
                COVID-19 insurance coverage accommodations and limitations.</p>
            <p class="trip-insurance-body-ctr a">Atlantis coverage alert</p>
        </div>
        <h4>Top reasons to buy trip insurance</h4>
        <div class="row trip-insurance-ul">
            <ul style="list-style-type:square;">
                <li>Emergency medical benefits in and outside the U.S.</li>
                <li>24-hour emergency assistance</li>
                <li>Financial reimbursement due to a covered illness, injury, etc.</li>
            </ul>
        </div>
        <h3>Types of trip insurance plans</h3>
        <p class="trip-insurance-body-ctr p">Allianz Trip Insurance comes in a
            variety of plans to fit your specific needs. Single-trip plans can
            protect one trip, annual plans can protect all your trips for more
            than two years, and rental car protection plans can keep your budget
            safe from accidental collision and damage to a rental vehicle.</p>
        <p class="trip-insurance-body-ctr p">All insurance is recommended / offered
            / sold by 3rd party, Atlantis Global Assistance, not American Airlines.</p>
    </div>
    <div class="col trip-insurance-body-ctr" id="second-col">
        <h3>Review period</h3>
        <p class="trip-insurance-body-ctr p">If you’re not completely satisfied,
            you have 12 days (or more, depending on your state of residence) to
            request a refund, provided you haven’t started your trip or
            initiated a claim. After this period, plans are non-refundable.</p>
    </div>
    <div class="col trip-insurance-body-ctr" id="third-col">
        <h3>Additional assistance</h3>
        <div class="row trip-insurance-body-ctr" id="first-row">
            <div class="col-md-6 trip-insurance-body-ctr" id="fourth-col">
                <h4>Coverage by country</h4>
                <div class="travel-experience-div">
                    <p class="trip-insurance-body-ctr a">Canada</p>
                    <p class="trip-insurance-body-ctr a">Mexico</p>
                </div>
            </div>
            <div class="col-md-6 trip-insurance-body-ctr" id="fifth-col">
                <h4>Need more help?</h4>
                <div class="travel-experience-div">
                    <p class="trip-insurance-body-ctr a">Contact us</p>
                    <p class="trip-insurance-body-ctr a">Frequently asked questions</p>
                </div>
            </div>
        </div>
    </div>
    <div class="col trip-insurance-body-ctr" id="sixth-col">
        <p>*Terms, conditions, and exclusions apply, including for pre-existing
            conditions. Plans may not be available to residents of all states.
            Insurance benefits are underwritten by either ABZ Insurance Company
            or Orlando Insurance Company, depending on insured’s state of
            residence. AGD Service Company is the licensed producer and
            administrator of these plans.</p>
    </div>
</div>
{% endblock %}