{% extends 'base.html' %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/oneway_trip.css')}}">
{% endblock %}

{% block title %}Newgen Airlines - One Way Trips page{% endblock %}


{% block content %}
    <div class="container mt-5">
        <h3>Hi, you reached the oneway trips page</h3>
        {% set best_flights = response['best_flights'] %}
        {% set other_flights = response['other_flights'] %}
        {% if best_flights and other_flights %}
            {% for best_flight in best_flights %}
                <div class="flight-card">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="card-title">Flight Details</h5>
                                    <ul class="list-group list-group-flush" id="flightDetails">
                                        <li class="list-group-item">
                                            <span class="fw-bold">From:</span>
                                            <span id="fromCity">{{ best_flight.flights[0].departure_airport.id }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="fw-bold">To:</span>
                                            <span id="toCity">{{ best_flight.flights[0].arrival_airport.id }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="fw-bold">Airline:</span>
                                            <span id="airline">{{ best_flight.flights[0].airline }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="fw-bold">Departure:</span>
                                            <span id="departureDate">{{ best_flight.flights[0].departure_airport.time }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="fw-bold">Duration:</span>
                                            <span id="flightDuration">{{ best_flight.total_duration }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="book-now-form" action="/payments/add/oneway_trip" method="post">
                        <input type="hidden" name="oneWayFromAirportCode"
                               value="{{ best_flight.flights[0].departure_airport.id }}">
                        <input type="hidden" name="oneWayToAirportCode"
                               value="{{ best_flight.flights[0].arrival_airport.id }}">
                        <input type="hidden" name="oneWayAirline"
                               value="{{ best_flight.flights[0].airline }}">
                        <input type="hidden" name="oneWayFromDate"
                               value="{{ best_flight.flights[0].departure_airport.time }}">
                        <input type="hidden" name="oneWayDuration"
                               value="{{ best_flight.total_duration }}">
                        <input type="hidden" name="oneWayDeparturePrice"
                               value="{{ best_flight.price }}">
                        <button type="submit" class="btn btn-primary">Book Now</button>
                    </form>
                </div>
            {% endfor %}
            {% for flight in other_flights %}
                <div class="flight-card">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="card-title">Flight Details</h5>
                                    <ul class="list-group list-group-flush" id="flight_details">
                                        <li class="list-group-item">
                                            <span class="fw-bold">From:</span>
                                            <span id="from_city">{{ flight.flights[0].departure_airport.id }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="fw-bold">To:</span>
                                            <span id="to_city">{{ flight.flights[0].arrival_airport.id }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="fw-bold">Airline:</span>
                                            <span id="airline_name">{{ flight.flights[0].airline }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="fw-bold">Departure:</span>
                                            <span id="departure_date">{{ flight.flights[0].departure_airport.time }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="fw-bold">Duration:</span>
                                            <span id="flight_duration">{{ flight.total_duration }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="book-now-form" action="/payments/add/oneway_trip" method="post">
                        <input type="hidden" name="oneWayFromAirportCode"
                               value="{{ flight.flights[0].departure_airport.id }}">
                        <input type="hidden" name="oneWayToAirportCode"
                               value="{{ flight.flights[0].arrival_airport.id }}">
                        <input type="hidden" name="oneWayAirline"
                               value="{{ flight.flights[0].airline }}">
                        <input type="hidden" name="oneWayFromDate"
                               value="{{ flight.flights[0].departure_airport.time }}">
                        <input type="hidden" name="oneWayDuration"
                               value="{{ flight.total_duration }}">
                        <input type="hidden" name="oneWayDeparturePrice"
                               value="{{ flight.price }}">
                        <button type="submit" class="btn btn-primary">Book Now</button>
                    </form>
                </div>
            {% endfor %}
        {% else %}
            {% for flight in other_flights %}
                <div class="flight-card">
                    <div class="card mb-3">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    <h5 class="card-title">Flight Details</h5>
                                    <ul class="list-group list-group-flush" id="flight_dts">
                                        <li class="list-group-item">
                                            <span class="fw-bold">From:</span>
                                            <span id="from_cty">{{ flight.flights[0].departure_airport.id }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="fw-bold">To:</span>
                                            <span id="to_cty">{{ flight.flights[0].arrival_airport.id }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="fw-bold">Airline:</span>
                                            <span id="aln_name">{{ flight.flights[0].airline }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="fw-bold">Departure:</span>
                                            <span id="dpt_date">{{ flight.flights[0].departure_airport.time }}</span>
                                        </li>
                                        <li class="list-group-item">
                                            <span class="fw-bold">Duration:</span>
                                            <span id="flight_time">{{ flight.total_duration }}</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <form class="book-now-form" action="/payments/add/oneway_trip" method="post">
                        <input type="hidden" name="oneWayFromAirportCode"
                               value="{{ flight.flights[0].departure_airport.id }}">
                        <input type="hidden" name="oneWayToAirportCode"
                               value="{{ flight.flights[0].arrival_airport.id }}">
                        <input type="hidden" name="oneWayAirline"
                               value="{{ flight.flights[0].airline }}">
                        <input type="hidden" name="oneWayFromDate"
                               value="{{ flight.flights[0].departure_airport.time }}">
                        <input type="hidden" name="oneWayDuration"
                               value="{{ flight.total_duration }}">
                        <input type="hidden" name="oneWayDeparturePrice"
                               value="{{ flight.price }}">
                        <button type="submit" class="btn btn-primary">Book Now</button>
                    </form>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}

