{% extends 'base.html' %}

{% block link %}
    <link rel="stylesheet" type="text/css"
          href="../../../../static/css/trip_reviews_and_payments.css">
{% endblock %}

{% block title %}Newgen Airlines - Round Trip Payments{% endblock %}


{% block content %}
<div class="container has-payments {% if not payments %}has-automobile-repair-background{% endif %}">
    {% if payments %}
        {% for payment in payments %}
            <div class="payment-id">
                <h4>Payment ID: {{ payment.id }}</h4>
            </div>
            <div class="card border-primary">
              <div class="card-body">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">First Departure Airport:
                      <span id="flight_departure_airport">{{ payment.flight_first_departure_airport }}</span></li>
                  <li class="list-group-item">First Arrival Airport:
                      <span id="flight_arrival_airport">{{ payment.flight_first_arrival_airport }}</span></li>
                  <li class="list-group-item">First Airline:
                      <span id="flight_airline_name">{{ payment.flight_first_airline_name }}</span></li>
                  <li class="list-group-item">Departure Date:
                      <span id="flight_departure_timestamp">{{ payment.flight_departure_date }}</span></li>
                  <li class="list-group-item">First Flight Duration:
                      <span id="flight_duration">{{ payment.flight_first_duration }}</span></li>
                </ul>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Last Departure Airport:
                      <span id="flight_arrive_from_airport">{{ payment.flight_last_departure_airport }}</span></li>
                  <li class="list-group-item">Last Arrival Airport:
                      <span id="flight_arrive_airport">{{ payment.flight_last_arrival_airport }}</span></li>
                  <li class="list-group-item">Last Airline:
                      <span id="flight_arrival_airline">{{ payment.flight_last_airline_name }}</span></li>
                  <li class="list-group-item">Arrival Date:
                      <span id="flight_final_timestamp">{{ payment.flight_arrival_date }}</span></li>
                  <li class="list-group-item">Last Flight Duration:
                      <span id="flight_final_duration">{{ payment.flight_last_duration }}</span></li>
                  <li class="list-group-item">Booking Time:
                      <span id="timestamp">{{ payment.timestamp }}</span></li>
                  <li class="list-group-item">Adults:
                      <span id="num_adults">{{ payment.num_adults }}</span></li>
                  <li class="list-group-item">Children:
                      <span id="num_children">{{ payment.num_children }}</span></li>
                  <li class="list-group-item">Infants:
                      <span id="num_infants">{{ payment.num_infants }}</span></li>
                  <li class="list-group-item">Cabin Class:
                      <span id="cabin_class">{{ payment.cabin_class }}</span></li>
                  <li class="list-group-item">Total Paid:
                      <span id="total_amount_paid">{{ payment.total_amount_paid }}</span></li>
                  <li class="list-group-item">Payment Method:
                      <span id="payment_method">{{ payment.payment_method }}</span></li>
                </ul>
              </div>
              <div class="card-footer">
                <a href="{{ url_for('round_trip_reviews.add_round_trip_review',
                    payment_id=payment.id) }}" class="btn btn-primary float-end"
                   id="review_button">Add Review</a>
              </div>
            </div>
        {% endfor %}
    {% else %}
        <h1>No Round Trip Payments Found!</h1>
        <p>We couldn't locate any round trip payments in our database. This might be
            because there aren't any recent round trip bookings, or there could be a temporary issue.</p>
        <p>Try searching again later or contact us if you believe there should
            be data available.</p>
    {% endif %}
</div>
{% endblock %}